services:
  open-webui:
    image: 'ghcr.io/open-webui/open-webui:${WEBUI_DOCKER_TAG:-main}'
    pull_policy: always
    container_name: open-webui
    volumes:
      - 'open-webui:/app/backend/data'
    expose:
      - '8080'
    environment:
      - 'OLLAMA_BASE_URL=http://host.docker.internal:11434'
      - WEBUI_SECRET_KEY=
      - ENABLE_RAG_WEB_SEARCH=true
      - RAG_WEB_SEARCH_ENGINE=searxng
      - 'SEARXNG_QUERY_URL=http://searxng:8080/search?q=<query>&format=json'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    restart: unless-stopped

  searxng:
    image: 'searxng/searxng:latest'
    container_name: searxng
    volumes:
      - type: bind
        source: ./searxng-settings.yml
        target: /etc/searxng/settings.yml
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: 1m
        max-file: '1'

volumes:
  open-webui: {}
