services:
  open-webui:
    image: 'ghcr.io/open-webui/open-webui:${WEBUI_DOCKER_TAG:-main}'
    pull_policy: always
    volumes:
      - 'open-webui:/app/backend/data'
    expose:
      - '8080'
    environment:
      - 'OLLAMA_BASE_URL=http://host.docker.internal:11434'
      - WEBUI_SECRET_KEY=
      - ENABLE_RAG_WEB_SEARCH=true
      - RAG_WEB_SEARCH_ENGINE=searxng
      - 'SEARXNG_QUERY_URL=http://searxng:8080/search?q=<query>&format=json'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    restart: unless-stopped
    depends_on:
      - searxng

  searxng:
    container_name: searxng
    image: 'searxng/searxng:2025.1.27-3191d92'
    volumes:
      - type: bind
        source: ./searxng-setup/searxng/settings.yml
        target: /etc/searxng/settings.yml
      - type: bind
        source: ./searxng-setup/searxng/limiter.toml
        target: /etc/searxng/limiter.toml
    environment:
      - SEARXNG_BASE_URL=http://searxng:8080/
      - SEARXNG_BIND_ADDRESS=0.0.0.0
      - SEARXNG_SECRET=ChangeMe123RandomKey!!
      - SEARXNG_LIMITER=false
      - SEARXNG_BOTDETECTION__TRUSTED_PROXIES=
    expose:
      - "8080"
    dns:
      - 8.8.8.8
      - 1.1.1.1
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8080/health || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
    logging:
      driver: json-file
      options:
        max-size: 1m
        max-file: '1'

volumes:
  open-webui: {}
